<div class="container content">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <center>
        <h3 id="headline home">We provide immediate cash for
        <div id="typed"></div>invoices.</h3>
        <br>
        <p class="head">Wefactoryou gives you $5,000 - $50 million in affordable working capital by advancing your money trapped in unpaid invoices.</p>
      </center>
      <br>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <center><%= link_to 'Sell invoices', sell_path, :class => "btn btn-secondary" %></center>
          <br/>
          <center>3% discount guaranteed</center>
        </div>
        <div class="col-md-2"></div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 banner">
          <center><%= link_to 'Invest in us', buy_path, :class => "btn btn-secondary" %></center>
          <br/>
          <center>13% fixed rate</center>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="container form home">
        <%= form_for @applicant do |f| %>

          <div class="field">
            <%= f.select :sales, [["$1 to $50,000"], ["$50,001 to $99,999"], ["$100,000 to $150,000"], ["$150,001 to $199,999"], ["$200,000 to $250,000"], ["More than $250,000"]], prompt: "What are your monthly sales?", autofocus: true, required: true %>
          </div>

          <br>

          <div class="field">
            <%= f.email_field :email, :placeholder => "Email Address", required: true %>
          </div>

          <br>

          <div class="field">
            <%= f.text_field :name, :placeholder => "Your Full Name", required: true %>
          </div>

          <br>

          <div class="field">
            <%= f.text_field :company, :placeholder => "Company Name", required: true %>
          </div>
          
          <br>
          
          <div class="field">
            <%= f.text_field :phone, :placeholder => "Phone Number", required: true %>
          </div>

          <br>

          <div class="hidden">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>

              <%= f.submit 'Apply Now', :class => "btn btn-primary" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container roi">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <center><h3>Get cash fast</h3></center>
      <div class="or"> <h6>or</h6></div>
      <center><h3>Earn 12% ROI</h3></center>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br/>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-4 process">
      <center>
        <%= image_tag('invoice.png', :height => 50, alt: 'invoice', :class => "cash") %>
        <h5>Sell or Buy Invoices</h5>
      </center>
    </div>
    <div class="col-md-4 process">
      <center>
        <%= image_tag('cash.png', :height => 50, alt: 'cash', :class => "cash") %>
        <h5>Get cash or earn 12% ROI</h5>
      </center>
    </div>
    <div class="col-md-4 process">
      <center>
        <%= image_tag('repeat.png', :height => 50, alt: 'repeat', :class => "cash") %>
        <h5>Repeat</h5>
      </center>
    </div>
  </div>
  <div>
    <center><%= link_to 'Learn more', factoring101_path, :class => "btn btn-secondary" %></center>
  </div>
</div>
<div class="container facts">
  <div class="row">
    <div class="col-md-4 numbers">
      <center><h2>20,000<br/>Investors</h2></center>
    </div>
    <div class="col-md-4 numbers">
      <center><h2>$41M in <br/>Available Funding</h2></center> 
    </div>
    <div class="col-md-4 numbers">
      <center><h2>1600+<br/>Businesses</h2></center>
    </div>
  </div>
</div>
<div class="container feedback">
  <center><h3>What people are saying</h3></center> 
  <hr>
  <div class="container comment">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <center><%= image_tag('client.jpg', alt: 'client', :class => "image feedback") %></center>
        <br/>
        <center><h4><strong>Jim L, Startup CEO</strong></h4></center>
        <br/>
        <p>We needed cash fast to meet payroll. We were sitting on $1M of receivables from customers with varying credit ratings. One call and Wefactoryou was there. Wefactoryou wired us $850K within 24 hours. Wefactoryou made it happen!</p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
