<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'wefactoryou',root_path, :class => "navbar-brand" %>
    </div>

  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HOW IT WORKS</a>
        <ul class="dropdown-menu">
          <li><a href="/sell">Sell invoices</a></li>
          <li><a href="/buy">Invest in us</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">INDUSTRIES WE SERVE</a>
        <ul class="dropdown-menu">
          <li><a href="/infrastructure">Infrastructure</a></li>
          <li><a href="/defensecontracts">Defense Contracts</a></li>
          <li><a href="/importexport">Import/Export</a></li>
          <li><a href="/agriculture">Agriculture</a></li>
          <li><a href="/construction">Construction</a></li>
          <li><a href="/textile">Textile</a></li>
          <li><a href="/startups">Startups</a></li>
        </ul>
      </li>
      <li><a href="/about">ABOUT US</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-button"><%= link_to 'Apply Now', root_path, :class => "btn btn-nav" %></li>
    </ul>
  </div>
  </div>
</nav>




<!-- Application Modal -->
<div class="modal fade" id="application-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container form home">
        <br>
        <%= form_for @applicant do |f| %>

          <div class="field">
            <%= f.select :sales, [["$1 to $50,000"], ["$50,001 to $99,999"], ["$100,000 to $150,000"], ["$150,001 to $199,999"], ["$200,000 to $250,000"], ["More than $250,000"]], prompt: "What are your monthly sales?", required: true %>
          </div>

          <br>

          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email Address", required: true %>
          </div>

          <br>

          <div class="field">
            <%= f.text_field :name, autofocus: true, :placeholder => "Your Full Name", required: true %>
          </div>

          <br>

          <div class="field">
            <%= f.text_field :company, autofocus: true, :placeholder => "Company Name", required: true %>
          </div>
          
          <br>
          
          <div class="field">
            <%= f.text_field :phone, autofocus: true, :placeholder => "Phone Number", required: true %>
          </div>

          <br>

          <div class="hidden">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>

        <%= f.submit 'Apply Now', :class => "btn btn-primary" %>
        <% end %>
        
        <br>
      </div>
    </div>
  </div>
</div>
<!-- End Application Modal -->